
<p style="font-family: Times New Roman;"> Домашняя работа №1. Выполнил: Сафаров Нурлан. ИИТММ. ФИИТ. 4 курс. Группа: 3821Б1ФИ3.</p>

<p style="font-family: Times New Roman;"><b>Пункт №0.</b> Описание задачи.</p>

<p style="font-family: Times New Roman;">Страховая компания стремится установить конкурентоспособные тарифы на свои услуги автострахования, что подразумевает создание хорошей модели для оценки риска аварий у клиентов. Для этого необходимо анализировать данные о клиентах с целью прогнозирования вероятности предъявления ими претензий на страховые выплаты в предстоящем году. Была, впрочем-то, поставлена задача бинарной классификации.</p>

In [7]:
import numpy as np              
import pandas as pd            
import matplotlib.pyplot as plt 
import seaborn as sns           
import sklearn

<p style="font-family: Times New Roman;"><b>Пункт №1.</b> Чтение данных.</p>

In [6]:
data = pd.read_csv('C:/Users/Нурлан Сафаров/Desktop/customer-data.csv')
data

,id,age,gender,race,driving_experience,education,income,credit_score,vehicle_ownership,vehicle_year,married,children,postal_code,annual_mileage,vehicle_type,speeding_violations,DUIs,past_accidents,outcome
0,569520,65+,female,majority,0-9y,high school,upper class,0.629027,True,after 2015,False,True,10238,12000.0,sedan,0,0,0,False
1,750365,16-25,male,majority,0-9y,none,poverty,0.357757,False,before 2015,False,False,10238,16000.0,sedan,0,0,0,True
2,199901,16-25,female,majority,0-9y,high school,working class,0.493146,True,before 2015,False,False,10238,11000.0,sedan,0,0,0,False
3,478866,16-25,male,majority,0-9y,university,working class,0.206013,True,before 2015,False,True,32765,11000.0,sedan,0,0,0,False
4,731664,26-39,male,majority,10-19y,none,working class,0.388366,True,before 2015,False,False,32765,12000.0,sedan,2,0,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,323164,26-39,female,majority,10-19y,university,upper class,0.582787,True,before 2015,False,False,10238,16000.0,sedan,0,0,1,False
9996,910346,26-39,female,majority,10-19y,none,middle class,0.522231,True,after 2015,False,True,32765,NaN,sedan,1,0,0,False
9997,468409,26-39,male,majority,0-9y,high school,middle class,0.470940,True,before 2015,False,True,10238,14000.0,sedan,0,0,0,False
9998,903459,26-39,female,majority,10-19y,high school,poverty,0.364185,False,before 2015,False,True,10238,13000.0,sedan,2,0,1,True
9999,442696,26-39,female,majority,0-9y,none,working class,0.435225,True,before 2015,True,True,10238,13000.0,sedan,0,0,0,False


<p style="font-family: Times New Roman;">Как мы видим, у нас имеется 19 признаков:

1. ID - уникальный номер
2. Age - возраст клиента
3. Gender - пол клиента
4. Race - принадлежность к группе 
5. Driving_experience - водительский стаж
6. Education - образование
7. Income - уровень дохода
8. Credit_score - оценка платежеспособности/рейтинг доверия клиенту 
9. Vehicle_ownership - владение транспортным средством
10. Vehicle_year - год выпуска автомобиля
11. Married - семейный статус
12. Children - наличие детей
13. Postal_code - почтовый индекс
14. Annual_mileage - годовой пробег авто
15. Vehicle_type - тип автомобиля
16. Speeding_violations - число нарушений правил превышения скорости
17. DUIs - число штрафов за вождение в нетрезвом состоянии
18. Past_accidents - кол-во инцидентов в прошлом
19. Outcome - обратился ли клиент за страховыми выплатами</p>