
<p style="font—family: Times New Roman;"> Домашняя работа №1. Выполнил: Сафаров Нурлан. ИИТММ. ФИИТ. 4 курс. Группа: 3821Б1ФИ3.</p>

<p style="font—family: Times New Roman;"><b>Пункт №0.</b> Описание задачи.</p>

<p style="font—family: Times New Roman;">Страховая компания стремится установить конкурентоспособные тарифы на свои услуги автострахования, что подразумевает создание хорошей модели для оценки риска аварий у клиентов. Для этого необходимо анализировать данные о клиентах с целью прогнозирования вероятности предъявления ими претензий на страховые выплаты в предстоящем году. Была, впрочем—то, поставлена задача бинарной классификации.</p>

In [7]:
import numpy as np              
import pandas as pd            
import matplotlib.pyplot as plt 
import seaborn as sns           
import sklearn

<p style="font—family: Times New Roman;"><b>Пункт №1.</b> Чтение данных.</p>

In [ ]:
data = pd.read_csv('C:/Users/Нурлан Сафаров/Desktop/customer—data.csv')
data

,id,age,gender,race,driving_experience,education,income,credit_score,vehicle_ownership,vehicle_year,married,children,postal_code,annual_mileage,vehicle_type,speeding_violations,DUIs,past_accidents,outcome
0,569520,65+,female,majority,0-9y,high school,upper class,0.629027,True,after 2015,False,True,10238,12000.0,sedan,0,0,0,False
1,750365,16-25,male,majority,0-9y,none,poverty,0.357757,False,before 2015,False,False,10238,16000.0,sedan,0,0,0,True
2,199901,16-25,female,majority,0-9y,high school,working class,0.493146,True,before 2015,False,False,10238,11000.0,sedan,0,0,0,False
3,478866,16-25,male,majority,0-9y,university,working class,0.206013,True,before 2015,False,True,32765,11000.0,sedan,0,0,0,False
4,731664,26-39,male,majority,10-19y,none,working class,0.388366,True,before 2015,False,False,32765,12000.0,sedan,2,0,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,323164,26-39,female,majority,10-19y,university,upper class,0.582787,True,before 2015,False,False,10238,16000.0,sedan,0,0,1,False
9996,910346,26-39,female,majority,10-19y,none,middle class,0.522231,True,after 2015,False,True,32765,NaN,sedan,1,0,0,False
9997,468409,26-39,male,majority,0-9y,high school,middle class,0.470940,True,before 2015,False,True,10238,14000.0,sedan,0,0,0,False
9998,903459,26-39,female,majority,10-19y,high school,poverty,0.364185,False,before 2015,False,True,10238,13000.0,sedan,2,0,1,True
9999,442696,26-39,female,majority,0-9y,none,working class,0.435225,True,before 2015,True,True,10238,13000.0,sedan,0,0,0,False


<p style="font-family: Times New Roman;">Как мы видим, у нас имеется 19 признаков:</p>

<p style="font-family: Times New Roman;">
1. <strong>id</strong> — уникальный номер <br>
2. <strong>age</strong> — возраст клиента <br>
3. <strong>gender</strong> — пол клиента <br>
4. <strong>race</strong> — принадлежность к группе <br>
5. <strong>driving_experience</strong> — водительский стаж <br>
6. <strong>education</strong> — образование <br>
7. <strong>income</strong> — уровень дохода <br>
8. <strong>credit_score</strong> — оценка платежеспособности/рейтинг доверия клиенту <br>
9. <strong>vehicle_ownership</strong> — владение транспортным средством <br>
10. <strong>vehicle_year</strong> — год выпуска автомобиля <br>
11. <strong>married</strong> — семейный статус <br>
12. <strong>children</strong> — наличие детей <br>
13. <strong>postal_code</strong> — почтовый индекс <br>
14. <strong>annual_mileage</strong> — годовой пробег авто <br>
15. <strong>vehicle_type</strong> — тип автомобиля <br>
16. <strong>speeding_violations</strong> — число нарушений правил превышения скорости <br>
17. <strong>DUIs</strong> — число штрафов за вождение в нетрезвом состоянии <br>
18. <strong>past_accidents</strong> — количество инцидентов в прошлом <br>
19. <strong>outcome</strong> — обратился ли клиент за страховыми выплатами
</p>

In [8]:
data.dtypes

id                       int64
age                     object
gender                  object
race                    object
driving_experience      object
education               object
income                  object
credit_score           float64
vehicle_ownership         bool
vehicle_year            object
married                   bool
children                  bool
postal_code              int64
annual_mileage         float64
vehicle_type            object
speeding_violations      int64
DUIs                     int64
past_accidents           int64
outcome                   bool
dtype: object

In [9]:
# Заменим True = 1 и False = 0
for i in data:
    if data[i].dtype == 'bool':
        data[i] = data[i].map({True : 1, False : 0})

data.dtypes

id                       int64
age                     object
gender                  object
race                    object
driving_experience      object
education               object
income                  object
credit_score           float64
vehicle_ownership        int64
vehicle_year            object
married                  int64
children                 int64
postal_code              int64
annual_mileage         float64
vehicle_type            object
speeding_violations      int64
DUIs                     int64
past_accidents           int64
outcome                  int64
dtype: object

<p style="font-family: Times New Roman;">Заменим тип "Object" на специальный, предназначенный для хранения категориальных значений:</p>

In [10]:
data["age"] = data["age"].astype('category')
data["gender"] = data["gender"].astype('category')
data["race"] = data["race"].astype('category')
data["driving_experience"] = data["driving_experience"].astype('category')
data["education"] = data["education"].astype('category')
data["income"] = data["income"].astype('category')
data["vehicle_year"] = data["vehicle_year"].astype('category')
data["vehicle_type"] = data["vehicle_type"].astype('category')

In [11]:
data["age"].dtype,data["gender"].dtype,data["race"].dtype, data["driving_experience"].dtype, data["education"].dtype, data["income"].dtype, data["vehicle_year"].dtype, data["vehicle_type"].dtype

(CategoricalDtype(categories=['16-25', '26-39', '40-64', '65+'], ordered=False, categories_dtype=object),
 CategoricalDtype(categories=['female', 'male'], ordered=False, categories_dtype=object),
 CategoricalDtype(categories=['majority', 'minority'], ordered=False, categories_dtype=object),
 CategoricalDtype(categories=['0-9y', '10-19y', '20-29y', '30y+'], ordered=False, categories_dtype=object),
 CategoricalDtype(categories=['high school', 'none', 'university'], ordered=False, categories_dtype=object),
 CategoricalDtype(categories=['middle class', 'poverty', 'upper class', 'working class'], ordered=False, categories_dtype=object),
 CategoricalDtype(categories=['after 2015', 'before 2015'], ordered=False, categories_dtype=object),
 CategoricalDtype(categories=['sedan', 'sports car'], ordered=False, categories_dtype=object))